apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-staging
  namespace: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-staging
  template:
    metadata:
      labels:
        app: nginx-staging
    spec:
      containers:
      - name: nginx
        image: REPLACE_IMAGE
        ports:
        - containerPort: 80
        env:
        - name: ENVIRONMENT
          value: "staging"
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-staging
  namespace: staging
spec:
  selector:
    app: nginx-staging
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
