apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-staging
  template:
    metadata:
      labels:
        app: nginx-staging
    spec:
      containers:
      - name: nginx
        image: REPLACE_IMAGE
        env:
        - name: ENV_MESSAGE
          value: "Hello from Staging!"
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-staging
spec:
  type: LoadBalancer
  selector:
    app: nginx-staging
  ports:
  - port: 80
    targetPort: 80
